@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body {
     background-image: url(/assets/background.jpg);
     color: #E4B77D;
}
img {
     height: 50px;
     width: 60px;
}
.nav {
     list-style-type: none;
     text-align: center; 
     padding: 0;
     margin: 0;
   }
   
   .nav li {
     display: inline-block;
     font-size: 20px;
     padding: 20px;
   }
h1 {
     text-align: center;
     font-family: 'Arizonia';
     font-size: 68px;
}
h2 {
     text-align: center;
     font-size: 38px;
}